
/* ------------------------------------
   About Section
------------------------------------ */
.about {
    max-width: 90%;
    margin: 20px auto;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.08);
}

.about h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.about p {
    font-size: 16px;
    text-align: center;
    padding: 0;
    line-height: 1.6;
    margin: 0 0 15px 0;  /* only bottom margin */
}


/* ------------------------------------
   Team Section
------------------------------------ */
.team {
    margin-top: 50px;
    padding: 30px;
    background: #ddf5ffc5;
    border-radius: 12px;
}

.team h3 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.team-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    text-align: left;
    transition: 0.2s ease;
}

.team-card:hover {
    transform: translateY(-4px);
}

.team-card .role {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
}

.team-card .name {
    font-size: 17px;
    font-weight: 500;
    color: #555555;
    margin-bottom: 10px;
}

.team-card .desc {
    font-size: 15px;
    line-height: 1.6;
    color: #444444;
}

@media (max-width: 768px) {
    .team-grid {
        grid-template-columns: 1fr;
    }
}
